* {
  margin: 0;
  font-family: arial;
  border: border-box;
}
.navbar {
  height: 60px;
  background-color: #0f1111;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-decoration: none;;
}
.navlogo {
  height: 50px;
  width: 112px;
}
.logo {
  height: 50px;
  width: 112px;
  background-image: url("./allFiles/amazon_logo.png");
  background-size: cover;
}
.border {
  border: 1.5px solid transparent;
}
.border:hover {
  border: 1.5px solid white;
}

/* box 2 */

.box2-first {
  color: #cccccc;
  font-size: 0.85rem;
  margin-left: 15px;
}
.map {
  display: flex;
  align-items: center;
}
.box2-second {
  font-size: 1rem;
  margin-left: 3px;
  font-family: 700;
}

/* box 3 */
.nav-search:hover {
  border: 2px solid #febd68;
}
.nav-search {
  display: flex;
  justify-content: space-evenly;
  width: 650px;
  height: 40px;
  background-color: orange;
  border-radius: 4px;
}
.box3-select {
  background-color: #f3f3f3;
  width: 50px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  text-align: center;
  border: none;
}
.box3-search {
  width: 100%;
  font-size: 1rem;
  border: none;
}
.box3-icon {
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  background-color: #febd68;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #0f1111;
}

/* box 4 */

span {
  font-size: 0.7rem;
}
.box4-account {
  font-size: 0.85rem;
  font-weight: 700;
}

/* box 6 */

.box6-cart i {
  font-size: 30px;
}
.box6-cart {
  font-size: 0.85rem;
  font-weight: 700;
}

/* panel */

.panel {
  height: 40px;
  background-color: #222f3d;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.deals p {
  display: inline;
  margin-left: 15px;
}
.deals {
  width: 70%;
  font-size: 0.85rem;
}
.panel-last {
  font-size: 0.9rem;
  font-weight: 700;
}

/* hero section */

.hero_section {
  background-image: url("./allFiles/hero_image.jpg");
  background-size: cover;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hero {
  background-color: white;
  font-size: 0.85rem;
  height: 40px;
  width: 80%;
  margin-bottom: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.hero a {
  color: #007185;
}

/* shoping section */

.shop_section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #e2e7e6;
}

.box {
  height: 400px;
  width: 23%;
  border: 2px solid black;
  background-color: white;
  margin-top: 15px;
  padding: 20px 0px 15px;
  border: none;
}
.box-img {
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 300px;
}

.shopbox_1 {
  margin-left: 1rem;
  margin-right: 1rem;
}
.shopbox_1 a {
  color: #007185;
  font-size: 13px;
}

/* fullbox */

.full {
  /* background-color: #febd68; */

  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionA {
  margin-left: 0.65rem;
  margin-right: 0.65rem;

  height: 320px;
  width: 250px;
  border: 2px solid black;
  background-color: white;
  margin-top: 15px;
  padding: 20px 15px 20px 15px;
  border: none;
}
.fullimg {
  background-size: cover;
  margin-top: 1rem;
  margin-bottom: 1rem;

  height: 250px;
  width: 250px;
}
.shop {
  color: #007185;
  font-size: 0.7rem;
}

/* class2 */

.footer{
  width: 100%;
}

.foot_panel1 {
  background-color: #37475a;
  color: white;
  height: 50px;
  font-size: 0.85rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.foot_panel2 {
  background-color: #222f3d;
  color: white;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}
ul {
  margin-top: 20px;
}

ul a {
  display: block;
  font-size: 0.85rem;
  margin-top: 10px;
  color: #dddddd;
}
.foot_panel3 {
  background-color: #222f3d;
  border-top: 0.5px solid white;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.foot_panel4 {
  background-color: #0f1111;
  color: white;
  height: 80px;
  /* display: flex;
    justify-content: center;
    align-items: center; */
}
.pages {
  font-size: 0.7rem;
  text-align: center;
  padding-top: 25px;
}
.copyright {
  font-size: 0.7rem;
  text-align: center;
  padding-top: 5px;
}
.grocery {
  text-decoration: none;
  color: white;
}
.best-seller{
    text-decoration: none;
  color: white;

}
.hero_grocery_section {
  background-image: url("./allFiles/gorcery-full-screen.jpg");
  background-size: cover;
  height:40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.best-seller-prompt{
  background-color:white;
  font-size:15px ;
  padding: 10px;
}
.homePage{
  text-decoration: none;
  color: white;;
}
.price{
  font-weight: 700;
}
